<footer class="site-footer">

  <div class="container">

    <div class="row footer-col-wrapper">
      <div class="col-md-6">
        <ul class="contact-list">
          <li><img src="{{ site.baseurl }}/img/oasis_icon.png"> <a href="https://www.oasis-open.org/committees/tc_home.php?wg_abbrev=cti">{{ site.title }}</a></li>
          <li><a href="https://www.oasis-open.org/committees/comments/index.php?wg_abbrev=cti">Feedback</a></li>
        </ul>
      </div>
      <div class="col-md-6 pull-right">
        <p>{{ site.description }}</p>
      </div>
    </div>

  </div>

</footer>
