<header class="site-header">

  <div class="container">

    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

        </div>

        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li>
              <a class="navbar-brand" href="{{ site.baseurl }}/">Home</a>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">STIX <span class="caret"></span></a>
              <ul class="dropdown-menu">
                {% for pg in site.pages %}
                  {% if pg.categories contains 'stix' and (pg.title or pg.short_title) %}
                    <li {% if p.url == page.url %}class="active"{% endif %}>
                      {% include page-link.html p=pg %}
                    </li>
                  {% endif %}
                {% endfor %}
              </ul>
            </li>
            <!-- <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true">TAXII <span class="caret"></span></a>
              <ul class="dropdown-menu">
                {% for pg in site.pages %}
                  {% if pg.categories contains 'taxii' and (pg.title or pg.short_title) %}
                    <li {% if p.url == page.url %}class="active"{% endif %}>
                      {% include page-link.html p=pg %}
                    </li>
                  {% endif %}
                {% endfor %}
              </ul>
            </li> -->
            {% for pg in site.pages %}
              {% unless (pg.categories contains 'taxii' or pg.categories contains 'stix') %}
                <li>
                  {% include page-link.html p=pg %}
                </li>
              {% endunless %}
            {% endfor %}
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li>
              {% include icon-github.html username="oasis-open/cti-documentation" %}
          </ul>
        </div>
      </div>
    </nav>

  </div>
</header>
