/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    padding-top: 2.5%;
}



/**
 * Basic styling
 */
body {
    font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
    color: $text-color;
    background-color: $background-color;
    -webkit-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    -o-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
}



/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}



/**
 * Coloring
 */
  .ltgreen{
    /** Light Green */
    background-color: #a6ff72;
 }



/**
 * Images
 */
img {
    max-width: 100%;
    vertical-align: middle;
}

.col-md-12 h1 {
    text-align: center;
    margin-bottom: 20px;
}

.col-md-12 h1 img {
    height: 45px;
    display: inline;
}

.col-md-12 h1 img span {
    vertical-align: middle;
}

.table-example tr td:nth-child(2) {
  width: 175px;
}



/**
 * Figures
 */
figure > img {
    display: block;
}

figcaption {
    font-size: $small-font-size;
}

.sdo {
  font-family: consolas, monospace;
}

.values {
  font-family: consolas, monospace;
  color: #38761d;
  background-color: #D9EAD3;
}

.about-fig {
    width: 310px;
}

@media (min-width:700px) {
    .about-fig {
        width: 500px;
    }
}


/**
 * Lists
 */
ul, ol {
    margin-left: $spacing-unit;
}

li {
    > ul,
    > ol {
         margin-bottom: 0;
    }
}



/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
    font-weight: $base-font-weight;
}

 .header-link {
    position: absolute;
    left: -0.6em;
    opacity: 0;
    height: $header-icon-height;
    margin-top: -.5%;
 }

 h2:hover .header-link,
 h3:hover .header-link,
 h4:hover .header-link,
 h5:hover .header-link,
 h6:hover .header-link {
    opacity: 1;
 }

.jumbotron {
    padding-top: 0px;
    padding-bottom: 20px;
    background-color: lighten($brand-color, 9%);
}

.jumbotron h1 {
    font-size: 40px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    margin-bottom: 0;
}

h3 img {
  max-height: $header-icon-height;
  padding-right: $spacing-unit / 2;
}

 .header-link .glyphicon {
    top: $header-icon-height / 2;
 }



/**
 * Links
 */
a {
    color: $brand-color;
    text-decoration: none;

    &:visited {
        color: darken($brand-color, 15%);
    }

    &:hover {
        color: lighten($brand-color, 10%);
        text-decoration: underline;
    }
}

.btn-spec {
    font-size: 17px;
    margin: 10px 0;

    &:visited {
        color: $background-color;
    }
}

@media (max-width:1200px) {
    .btn-spec {
        max-width: 520px;
        min-width: 150px;
        white-space: normal;
    }
}



/**
 * Blockquotes
 */
blockquote {
    color: $grey-color;
    border-left: 4px solid $grey-color-light;
    padding-left: $spacing-unit / 2;
    font-size: 18px;
    letter-spacing: -1px;
    font-style: italic;

    > :last-child {
        margin-bottom: 0;
    }
}



/**
 * Code formatting
 */
pre,
code {
    font-size: 15px;
    border: 1px solid $grey-color-light;
    border-radius: 3px;
    background-color: #eef;
}

code {
    padding: 1px 5px;
}

pre {
    padding: 8px 12px;
    overflow-x: auto;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}

.highlight pre {
    word-break: normal;
}



/**
 * Wrapper
 */
.wrapper {
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
    max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
    margin-right: auto;
    margin-left: auto;
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;
    @extend %clearfix;

    @include media-query($on-laptop) {
        max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
        max-width:         calc(#{$content-width} - (#{$spacing-unit}));
        padding-right: $spacing-unit / 2;
        padding-left: $spacing-unit / 2;
    }

    @media (min-width: $break-large) {
        max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}) + 300px);
        max-width:         calc(#{$content-width} - (#{$spacing-unit}) + 300px);
    }
}



/**
 * Clearfix
 */
%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}



/**
 * Icons
 */
.icon {

    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;

        path {
            fill: $grey-color;
        }
    }
}

.alert span.glyphicon {
    padding-right: 5px;
}

.post-content li img {
    height: 25px;
    margin: 1px 3px 1px 0px;
}

.github-icon {
    width: 22px;
}



/**
 * Panels
 */
.panel-heading {
    text-align: center;
}

.panel-logo {
    display: block;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 10px;
    max-height: 130px;
}

.panel-title {
    font-style: italic;
}

.panel-body h3 {
    padding-top: 10px;
}

.well.info-box {
    float: right;
    font-size: 22px;
    margin-left: 15px;
    text-align: center;
}

@media (max-width:730px) {
    .pannel-btn {
        width: 50px;
    }
}

.med-info-box {
    margin-top: 20px;
    padding-bottom: 26px;
}

.compare-info {
    margin: 20px 40px 20px 0;
    padding-bottom: 27px;
}



/**
 * Videos
 */
.video-container {
	position: relative;
	padding-bottom: 52%;
	padding-top: 30px;
	overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 85%;
	height: 85%;
}

.video-wrapper {
	width: 800px;
	float:none;
	margin-left:auto;
	margin-right:auto;
	max-width: 100%;
}



/*
 * FAQ Related CSS
 */
.faq-btn {
    margin-left: 27%;
    margin-right: 20%;
    white-space: normal;
}

@media (max-width:1200px) {
    .faq-btn {
        margin-left: 22%;
        margin-right: 20%;
        white-space: normal;
    }
}

@media (max-width:990px) {
    .faq-btn {
        margin-left: 30%;
        white-space: normal;
    }
}

@media (max-width:530px) {
    .faq-btn {
        margin-left: 29%;
        margin-right: 51%;
        white-space: normal;
    }
}

.faq {
    margin-left: 15%;
    width: 70%;
    height: 800px;
}



/*
 * Tables
 */
.table-anchor tbody tr td:nth-of-type(1), 
.table-col1-width tbody tr td:nth-of-type(1){
    width: 25%;  
}

.table-anchor tbody tr td:nth-of-type(2) {
    width: 15%;  
}

.table-anchor tbody tr td a{
    text-decoration: underline;
}

.table-img tbody tr td img {
    width: 30%;
}



/*
* Example Label Filter - Just used for tags, not CSS
*/
#examples-table{}
#tag-filterer{}
.tag-filter{}


